{% extends 'base.html.twig' %}

{% block title %}Edit Componente{% endblock %}

{% block body %}
    <h1>Edit Componente</h1>

    {{ include('componente/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_componente_index') }}">back to list</a>

    {{ include('componente/_delete_form.html.twig') }}
{% endblock %}
