{% extends 'base.html.twig' %}
	
{% block title %}Servicios - GestorTareas{% endblock %}
	
{% block body %}
	<h1>Nuestros Servicios</h1>
	<ul>
	    <li>Gestión completa de tareas y proyectos</li>
	    <li>Recordatorios y fechas límite</li>
	    <li>Estadísticas de productividad</li>
	    <li>Colaboración en equipo (próximamente)</li>
	</ul>
{% endblock %}