{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - Panel Principal
{% endblock %}
{% block body %}
    <h1>Gestor de Tareas</h1>
    
    <p>¡Estas gestionando {{ tareas|length }} tareas actualmente!</p>

    {% if tareas|length > 0 %}
        <div class="list-group">
            {% for tarea in tareas %}
                <tr>
                    <td>
                        <a href="{{ path('tarea_show', { id: tarea.id }) }}">
                            {{ tarea.titulo }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </div>
    {% else %}
        <p>No hay tareas pendientes. ¡Buen trabajo!</p>
    {% endif %}
{% endblock %}