{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Nueva Tarea{% endblock %}

{% block body %}
    <h1 class="text-3xl font-extrabold text-gray-800 mb-6">Nueva Tarea</h1>
    <p class="text-gray-500">Formulario en construcción.</p>
{% endblock %}