{% extends 'base.html.twig' %}
	
{% block title %}Sobre mí - GestorTareas{% endblock %}
	
{% block body %}
	<h1>Sobre mí</h1>
	<p>Esta aplicación ha sido desarrollada como parte de un curso de Symfony para demostrar buenas prácticas en el desarrollo web moderno.</p>
{% endblock %}