{% extends 'base.html.twig' %}
	
{% block title %}Inicio - GestorTareas{% endblock %}
	
{% block body %}
    <h1 class="mb-4">Bienvenido a GestorTareas</h1>
    <p class="lead">La herramienta más sencilla para organizar tu trabajo y tu vida.</p>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">457</h5>
                        <p class="card-text">Tareas totales</p>
                </div>
            </div>
        </div>
        <!-- Más tarjetas si deseas -->
    </div>
{% endblock %}