@import "tailwindcss";

body {
    background-color: rgb(228, 236, 238);
}
.tarea-pendiente { 
    border-left: 5px solid gray; 
}
.tarea-completada { 
    border-left: 5px solid green; background-color: #f0fff0; 
} 